@model CanIHazDadJoke.Models.HomeModel

<div class="container-fluid">

    <p class="lead text-center" id="rotatingJoke">@Model.Joke.Joke</p>

    <form class="form-inline md-form form-sm active-cyan-2 mt-2" id="searchForm" asp-action="Index" asp-controller="Home">
        <input class="form-control form-control-sm mr-3 w-75" id="searchInput" type="text" placeholder="Pun Me" aria-label="Search" asp-for="SearchTerm">
        <button id="searchButton" class="fas fa-search" type="submit" aria-hidden="true"></button>
    </form>

    @if (Model.SearchResults != null)
    {
        <div class="row" id="resultDataRow">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                @if (@Model.SearchResults.TotalJokes > 30)
                {
                    <p>Showing: 30/@Model.SearchResults.TotalJokes</p>
                }
                else if (@Model.SearchResults.TotalJokes == 0){
                    <p>Showing : 0/0</p>
                    <p>No pun intended :(</p>
                }
                else
                {
                    <p>Showing: @Model.SearchResults.TotalJokes/@Model.SearchResults.TotalJokes</p>
                }

            </div>
            <div class="col-lg-1 col-md-2 col-sm-2 col-xs-4">
                <div id="short" class="square">&lt;10 words</div>
            </div>
            <div class="col-lg-1 col-md-2 col-sm-2 col-xs-4">
                <div id="medium" class="square">&lt;20 words</div>
            </div>
            <div class="col-lg-1 col-md-2 col-sm-2 col-xs-4">
                <div id="long" class="square"><span>&gt;&#61;20 words</span></div>
            </div>
        </div>
        <div class="row" id="searchResultsRow">
            <ul class="list-group list-group-flush" id="searchResults">
                @foreach (var joke in Model.SearchResults.Results)
                {
                    <li class="list-group-item joke-result">@joke.Joke</li>
                }
            </ul>
        </div>
    }
</div>
